name: Deploy BAMPhBot

on:
  push:
    branches:
      - main   # run this when you push to main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: SSH into server and deploy
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 22
          script: |
            cd ~/docker/BAMPhBot
            docker stop a9972fdd1294 || true
            git pull
            docker start a9972fdd1294